  .aiheader {
      font-size: 18px;
      font-weight: bold;
      color: rgb(102, 144, 207);
      display: inline-flex;
      align-items: center;
  }

  .ailogo {
    margin-left: 8px;
  }

  .aisubheader {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }


  .container {
    padding-top: 200px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;

  }
  
  .chatWindow {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .message {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 5px 0;
    word-wrap: break-word;
    display: inline-block;
    max-width: 75%;
    white-space: pre-wrap;
  }
  
  .user {
    text-align: right;
    background-color: rgb(136, 165, 209);
    align-self: flex-end;
  }

  .userDark {
    text-align: right;
    background-color: rgb(67, 85, 112);
    align-self: flex-end;
  }
  
  .bot {
    text-align: left;
    align-self: flex-start;
  }

  .botDark {
    text-align: left;
    align-self: flex-start;
  }

  .textarea::placeholder {
    color: #6e6e6e;
  }
  
  .textareaDark::placeholder {
    color: #b8b8b8;
  }

  .inputContainer {
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background-color: rgb(203, 208, 216);
    border-radius: 35px;
    border: 2px solid rgb(185, 187, 189);
    padding: 5px;
  }

  .inputContainerDark {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background-color: rgb(67, 85, 112);
    border-radius: 35px;
    border: 2px solid rgb(97, 121, 156);
    padding: 5px;
  }
  
  .textarea {
    background-color: rgb(203, 208, 216);
    width: 90%;
    flex: 1;
    padding: 15px;
    resize: none;
    overflow: hidden;
    min-height: 40px;
    border-radius: 35px;
    font-size: 14px;
    line-height: 1.5;
    font-size: 16px;
  }

  .textareaDark {
    background-color: rgb(67, 85, 112);
    width: 90%;
    flex: 1;
    padding: 15px;
    resize: none;
    overflow: hidden;
    min-height: 40px;
    border-radius: 35px;
    font-size: 14px;
    line-height: 1.5;
    font-size: 16px;
  }

  .textarea:focus {
    outline: none;
  }

  .button {
    background-color: rgb(133, 133, 133);
    border-radius: 100%;
    height: 45px;
    width: 45px;
    padding: 10px 10px;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 6px;
    margin-bottom: 4px;
  }

  .buttonActive {
    background-color: rgb(97, 144, 214);
    color: rgb(255, 255, 255);
  }
  
  .buttonActiveDark {
    background-color: #dadada;
    color: rgb(255, 255, 255);
  }
  
  .sendicon {
    color: #272727;
  }

  /* scrollbar stuff */
  .chatWindow::-webkit-scrollbar {
    width: 8px;
  }
  
  .chatWindow::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  .chatWindow::-webkit-scrollbar-thumb {
    background: rgba(67, 85, 112, 0.6);
    border-radius: 10px;
  }
  
  .chatWindow::-webkit-scrollbar-thumb:hover {
    background: rgba(75, 93, 121, 0.8);
  }
